.fale-conosco-fundo {
  background: no-repeat url("../../img/fundo-contato.jpeg");
  background-size: cover;
  display: grid;
}

.fale-conosco-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1400px;
  padding: 40px 0;
  justify-self: center;
}

.informacoes-contato {
  display: grid;
  place-content: center;
  border-top-left-radius: 30px;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  background: linear-gradient(#6d0000, #9e0000);
}

.informacoes-contato h2 {
  font-size: 3rem;
  padding-bottom: 40px;
}

.imagem-headset {
  width: 1500px;
  border-top-right-radius: 30px;
}

.imagem-localizacao {
  grid-column: 1/-1;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

@media (max-width: 1600px) {
  .fale-conosco-container {
    max-width: 1200px;
  }
}

@media (max-width: 1400px) {
  .fale-conosco-container {
    max-width: 1100px;
  }
}

@media (max-width: 1200px) {
  .fale-conosco-container {
    max-width: 800px; 
  }
  .informacoes-contato {
    font-size: 1rem;
  }
  .informacoes-contato h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 850px) {
  .fale-conosco-container {
    grid-template-columns: 1fr;
    margin: 0px 10px;
  }

  .imagem-localizacao {
    display: none;
  }

  .imagem-headset {
    border-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .informacoes-contato {
    padding: 40px;
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 1rem;
  }
}
